# ==========================================
# SPRING PROFILE
# ==========================================
SPRING_PROFILES_ACTIVE=prod

# ==========================================
# DATABASE
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=messenger_db
DB_USERNAME=messenger_user
DB_PASSWORD=CHANGE_ME

# ==========================================
# JWT SECRET
# ==========================================
JWT_SECRET=CHANGE_ME

# ==========================================
# YANDEX CLOUD OBJECT STORAGE
# ==========================================

YANDEX_ACCESS_KEY=YCAJEfMt5dNrzTbAUyVxyS02U
YANDEX_SECRET_KEY=CHANGE_ME
YANDEX_BUCKET=messenger-attachments

# ==========================================
# SERVER
# ==========================================
SERVER_PORT=8080
